<%= content_for :head do %>
  <%= stylesheet_link_tag 'tracking' %>
<% end %>
<div id="header">
  <h1 class="yaktrak"><%= link_to 'Yaktrak', root_path %></h1>
  <%= render :partial => 'form', :locals => { :tracking => @new_tracking } %>
</div>
<%= render :partial => 'footprint', :locals => { :tracking => @tracking } %>
<h1 class="tracking">Tracking FedEx package <strong><%= link_to @tracking.package_identifier, "http://www.fedex.com/Tracking?tracknumbers=#{ @tracking.package_identifier }&cntry_code=us&clientype=ivshpalrt&" %></strong></h1>
<%= render :partial => 'segments/ol', :locals => { :segments => @tracking.segments } %>
<%= render :partial => 'footprint', :locals => { :tracking => @tracking } %>
<%= render :partial => "trackings/status/#{@tracking.status}", :layout => 'trackings/status', :locals => { :tracking => @tracking } %>
