<%= content_for :head do %>
  <%= stylesheet_link_tag 'tracking' %>
<% end %>
<% @title = "#{@tracking.package_identifier} tracking details [Yaktrak]" %>
<div id="header">
  <h1 class="yaktrak"><%= link_to 'Yaktrak', root_path %></h1>
  <%= render :partial => 'form', :locals => { :tracking => @new_tracking } %>
</div>
<div id="main">
<%= render :partial => 'footprint', :locals => { :tracking => @tracking } %>
  <h1 class="tracking">Tracking FedEx package <strong><%= link_to @tracking.package_identifier, "http://www.fedex.com/Tracking?tracknumbers=#{ @tracking.package_identifier }&cntry_code=us&clientype=ivshpalrt&" %></strong></h1>
<%= render :partial => 'segments/ol', :locals => { :segments => @tracking.segments } %>
<%= render :partial => 'footprint', :locals => { :tracking => @tracking } %>
<%= render :partial => "trackings/status/#{@tracking.status}", :layout => 'trackings/status', :locals => { :tracking => @tracking } %>
</div>
<div id="footer">
<%= cm1_badge %>
<p>Your friends at <%= link_to 'Brighter Planet', 'http://brighterplanet.com' %> made Yaktrak to demonstrate <%= link_to 'CM1', 'http://brighterplanet.com/services' %>, our science-as-a-service platform. We can perform very high volumes of carbon emission calculations in real time, under the most challenging data quality situations. Perhaps we can do something like this for your business or application? <%= mail_to 'info@brighterplanet.com', 'Let us know' %>. You may be interested in our <%= link_to 'blog post', 'http://numbers.brighterplanet.com/2011/01/13/announcing-our-new-parcel-shipment-model/' %> introducing Yaktrak&mdash;or even in her <%= link_to 'source code', 'http://github.com/brighterplanet/yaktrak' %>. &copy;<%= Time.now.year %> Brighter Planet.</p>  
<%= footprint_badge %>
<%= tronprint_badge %>
</div>
